<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawSeriesChart);

      function drawSeriesChart() {
        var data = google.visualization.arrayToDataTable(<%- JSON.stringify(names)%>);

        var options = {
          title: 'GitHub projects maturity',
          hAxis: {title: 'Forks number'},
          vAxis: {title: 'Stars number'},
          bubble: {textStyle: {fontSize: 10}}
        };

        var chart = new google.visualization.BubbleChart(document.getElementById('series_chart_div'));
        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="series_chart_div" style="width: 900px; height: 500px;"></div>
    <div id="test"></div>

   <script>
      var el = document.getElementById("test");
      var arr = <%- JSON.stringify(names)%>;

      console.log(arr);
   </script>
  </body>
</html>